In [1]:
#library to use dataframes
import pandas as pd

#library to encode and parse strings 
import urllib

#library to connect & interact with databases
from sqlalchemy import create_engine, inspect

IMPORTANT : Depending on SQL Server version use one from following

{SQL Server} - released with SQL Server 2000

{SQL Native Client} - released with SQL Server 2005 (also known as version 9.0)

{SQL Server Native Client 10.0} - released with SQL Server 2008

{SQL Server Native Client 11.0} - released with SQL Server 2012

{ODBC Driver 11 for SQL Server} - supports SQL Server 2005 through 2014

{ODBC Driver 13 for SQL Server} - supports SQL Server 2005 through 2016

{ODBC Driver 13.1 for SQL Server} - supports SQL Server 2008 through 2016

{ODBC Driver 17 for SQL Server} - supports SQL Server 2008 through 2017

In [2]:
# set the connection string to SQL Server database in a variable
db_conn_params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};SERVER={SERVER_NAME}\\{INSTANCE_NAME};DATABASE=pubs;trusted_connection=yes")

# set the connection to SQLite database in a variable
engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % db_conn_params)

In [3]:
#get a list of all the tables in the database
engine.table_names()

['authors',
 'discounts',
 'employee',
 'jobs',
 'pub_info',
 'publishers',
 'roysched',
 'sales',
 'stores',
 'titleauthor',
 'titles']

In [4]:
#get all the rows from the "authors" table in the database
sql = "SELECT * FROM titleauthor JOIN authors ON authors.au_id = titleauthor.au_id WHERE authors.au_lname = 'Green';"

#the read_sql function takes in the SQL statement for the information requested and the engine (to connect to database)
authors_data_df = pd.read_sql(sql, engine)
authors_data_df

,au_id,title_id,au_ord,royaltyper,au_id,au_lname,au_fname,phone,address,city,state,zip,contract
0,213-46-8915,BU1032,2,40,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,True
1,213-46-8915,BU2075,1,100,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,True